Aula 1 - Configuração de ambiente Python

In [1]:
print("Inteligencia Artificial e Big Data")

Inteligencia Artificial e Big Data

In [ ]:
# instalação biblioteca pandas
!pip install pandas

In [ ]:
python -m ensurepip --upgrade

In [2]:
import pandas as pd

In [3]:
# criando um dicionario no python
Dicionario = {
    'A':[1,2,3],
    'B':[-3,-2,-1],
    'C':[0,10,20] 
}
# criando um index para as linhas do dicionario
Label = ['1ª Linha','2ª Linha','3ª Linha']

# criando o DataFrame
DataFrame_01 = pd.DataFrame(Dicionario, index=Label)
print(DataFrame_01)

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [5]:
# selecionando as colunas A e B
DataFrame_01[['A','B']]

          A  B
1ª Linha  1 -3
2ª Linha  2 -2
3ª Linha  3 -1

In [6]:
# criando uma coluna nova no DataFrame 
DataFrame_01['Nova Coluna'] = DataFrame_01['A'] * DataFrame_01['B']

In [7]:
# exibindo o DataFrame
a = 5
print(a)
print(DataFrame_01)

5
          A  B   C  Nova Coluna
1ª Linha  1 -3   0           -3
2ª Linha  2 -2  10           -4
3ª Linha  3 -1  20           -3

In [8]:
# excluindo a coluna do DataFrame
DataFrame_01.drop('Nova Coluna',axis=1)

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [9]:
# excluindo uma coluna do DataFrame de forma permanente
DataFrame_01.drop('Nova Coluna',axis=1,inplace=True)

In [10]:
DataFrame_01

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [11]:
# localizando uma linha no DataFrame
DataFrame_01.loc['1ª Linha']

A    1
B   -3
C    0
Name: 1ª Linha, dtype: int64

In [12]:
# localizando linhas e colunas
DataFrame_01.loc[['1ª Linha','3ª Linha'],['A','C']]

          A   C
1ª Linha  1   0
3ª Linha  3  20

In [13]:
# localizando linhas e colunas
DataFrame_01.loc[['1ª Linha','2ª Linha'],['A','B']]

          A  B
1ª Linha  1 -3
2ª Linha  2 -2

In [14]:
DataFrame_01.iloc[2:3,0]

3ª Linha    3
Name: A, dtype: int64